/* pro tip - `shift+ctrl+r` in firefox to refresh css  */

/* tutorial 3 - 30:02 */
.gallery-container a:hover {
  opacity: 0.8;
}

.gallery-container a div {
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-container a h3 {
  font-family: Catamaran;
  font-size: 20px;
  font-weight: 700;
  color: #111;
  padding-top: 16px;
}